*{
    margin: 0px;
    padding: 0px;
}
body
{
    background-color: black;
    box-sizing: border-box;
    color: rgb(242, 160, 8);
}
p{
    margin: 15px;
}
.c{
    text-align: center;
}
.c ul{
    display: flex;
    margin: 10px;
}
.c ul li{
    list-style: none;
    margin: 10px;
}

